@import '../variables';

// Mixin
@mixin respond($breakpoint) {
    @if $breakpoint == mobile {
      @media (max-width: $breakpoint-mobile) {
        @content;
      }
    } @else if $breakpoint == small {
      @media (min-width: ($breakpoint-mobile + 1)) and (max-width: $breakpoint-tablet) {
        @content;
      }
    } @else if $breakpoint == tablet {
      @media (max-width: ($breakpoint-tablet +1)) {
        @content;
      }
    } @else if $breakpoint == desktop {
      @media (max-width: $breakpoint-desktop) {
        @content;
      }
    } @else if $breakpoint == medium {
      @media (min-width: ($breakpoint-desktop + 1)) and (max-width: $breakpoint-large) {
        @content;
      }
    } @else if $breakpoint == large {
      @media (min-width: ($breakpoint-large + 1)) {
        @content;
      }
    }
  }

.container {
  // Tus otros estilos aquí

  @include respond(mobile) {
    .header__container {
      .mainmenu__container {
        display: none;
      }
    }
    .main__container {
      .slider__container{
        .slider__section--container {
          .slider__item--container {
            .slider__card--container {
              .slider__texts--title {
                .slider-title {
                  font-size: 1.2rem;
                  line-height: 1.5rem;
                }
              }
              .slider__texts--paragraph {
                width: 90%;
                margin: 0 auto;
                .slider-paragraph {
                  font-size: 1rem;
                  line-height: 1.4rem;
                }
              }
            }
          }
        }
      }
      .slogan__container {        
        .slogan__seotitle {
          font-size: 1rem !important;
        }
        .slogan__text {
          margin: 0;
          margin-top: 35px;
          font-size: .8rem;
          span {
            font-size: 1em;
            padding: 0 5px;
          }
        }
        .slogan__btn {
          display: none;
        }
      }
      .article__container {
        margin-top: 0;
        grid-template-columns: 1fr;
        .section__container {
          .section__paragraph {
            width: 85%;
          }
        }
      }
      .home__services--container {
        .service__container {
          .service__text--container {
            grid-template-rows: 15% 65% 20%;
            border-radius: 0 0 25px 25px !important;
            padding: 25px 0;
            .service__btn--container {
              width: 90%;
              margin: 0 auto;
              .service__btn--link {
                padding: 15px 15px;
                width: 100%;
                border-radius: 5px;
                text-align: center;
              }
            }
          }
        }
      }
      .values__container {
        grid-template-columns: 1fr !important;
      }
      .services__cards--container {
        display: flex;
        flex-direction: column;
        width: 90% !important;
      }
      .gallery__container {
        grid-template-columns: 1fr;
        place-content: center;
        place-items: center;
        .gallery__menu--mobile {
          display: flex;
        }
        .gallery__menu--desktop {
          display: none;
        }
      }
    }
    .footer__container {
      grid-template-columns: 1fr;
      .footer__section--one {
        .footer__logo--container {
          .footer__logo--img {
            height: 100px;
          }
        }
      }
      .footer__section--two {
        padding: 15px 0;
        .contact__info--container {
          .contact__text--address {
            padding: 10px 0;
            line-height: 1.2em;
          }
        }
      }
      .footer__section--three {
        ul {
          margin: 0;
          padding: 0;
          li {
            padding: 5px 0;
            margin: 0;
            text-align: center;
            
          }
        }
      }
      .copyright__developer--container {
        margin-top: 15px;
        background-color: #2e2e2e;
        display: flex;
        place-content: center;
        place-items: center;
      }
    }
  }

  @include respond((small)) {
    .main__container {
      .slider__container {
        .slider__section--container {
          .slider__item--container {
            .slider__card--container {
              .slider__texts--title {
                .slider-title {
                  font-size: 1.5rem;
                  line-height: 2rem;
                }
              }
              .slider__texts--paragraph {
                width: 90%;
                margin: 0 auto;
                .slider-paragraph {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
      .values__container {
        grid-template-columns: 1fr;
      }
      .services__cards--container {
        display: flex;
        flex-direction: column;
        width: 80% ;
      }
    }
    .footer__container {
      grid-template-columns: 1fr;
      .footer__section--one {
        .footer__logo--container {
          .footer__logo--img {
            height: 100px;
          }
        }
      }
      .footer__section--two {
        padding: 15px 0;
        .contact__info--container {
          .contact__text--address {
            padding: 10px 0;
            line-height: 1.2em;
          }
        }
      }
      .footer__section--three {
        ul {
          margin: 0;
          padding: 0;
          li {
            padding: 5px 0;
            margin: 0;
            text-align: center;
            
          }
        }
      }
      .copyright__developer--container {
        margin-top: 15px;
        background-color: #2e2e2e;
        display: flex;
        place-content: center;
        place-items: center;
      }
    }

  }

  @include respond(tablet) {
    .header__container {
      .mainmenu__container {
        display: none;
      }
    }
    .main__container { 
      .slider__container {
        .slider__section--container {
          .slider__item--container {
            .slider__card--container {
              // .slider__texts--title {
              //   .slider-title {
              //     font-size: 1.5rem;
              //     line-height: 2rem;
              //   }
              // }
              .slider__texts--paragraph {
                width: 80%;
                margin: 0 auto;
                .slider-paragraph {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }   
      .slogan__container {        
        .slogan__seotitle {
          font-size: 1.3em;
          width: 90%;
          margin: 0 auto;
        }
        .slogan__text {
          margin-bottom: 30px;
        }
        .slogan__btn {
          display: none;
        }
      } 
      .article__container {
        grid-template-columns: 1fr;
        .section__container {
          .section__paragraph {
            width: 80%;
          }
        }
      }
      .home__services--container{
        .service__container {
          &.right,&.left {
            .service__picture--container {
              grid-row: 1/5;
              grid-column: 1/-1;
            }
            .service__text--container {
              margin: 0;
              border-radius: 0 0 50px 50px;
              grid-row: 4/-1;
              grid-column: 1/6 !important;           
            }
          }
        }
      }
      .values__container {
        grid-template-columns: repeat(2, 1fr);
        .values__item--container:nth-child(3) {
          grid-column: 1/-1;
        }
      }
      .text__content--container {
        width: 90%;
        .mobile__index {
          display: block;
        }
        .columned__content {
          grid-template-columns: 1fr;
          .index__column {
            display: none;
          }
        }
      }
      .services__cards--container {
        grid-template-columns: 1fr;
        width: 70%;
      }
    }
  }

  @include respond(desktop) {
    .header__container {
      .burgermenu__container {
        .burgermenu__logo {
          .burger__logo--img {
            height: 120px;
            padding: 10px 0;
          }
        }
      }
    }
    .main__container {
      .slider__container {
        .slider__section--container {
            height: 830px;  
            .slider__item--container {
                grid-template-columns: 1fr;
                grid-template-rows: 3fr 2fr;
                opacity: 0;
                .slider__image--container {
                  height: 500px;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%);
                }
                .slider__card--container {
                  grid-template-rows: 30% 40% 30%;
                    .slider__texts--title {
                        padding: 0;
                        width: 90%;
                        margin: 0 auto;
                        font-size: 1.6rem;
                        .slider-title {
                          width: 100%;
                          text-align: center;
                          margin: 0;
                        }
                    }
                    .slider__texts--paragraph {
                      padding: 0;
                      width: 90%;
                      margin: 0 auto;
                      .slider-paragraph {
                        margin: 0;
                        text-align: center;
                        word-wrap: 100;
                      }
                    }
                    .slider__texts--btn {
                        place-content: center;
                        place-items: center;
                        padding: 0;
                    }
                }
                &.active {
                  opacity: 1;
                }
            }
        }
      }
      .slogan__container {        
        .slogan__seotitle {
          width: 90%;
          margin: 0.2em auto;
          font-size: 1.3em;
        }
        .slogan__text {
          margin-bottom: 30px;
        }
      }
      .home__services--container {
            .service__container {
              &.right {
                  .service__text--container {
                      grid-column: 1/5;
                  }
              }
              &.left {
                  .service__text--container {
                      grid-column: 2/-1;
                  }
              }
            }
      }     
      .values__container {
        grid-template-columns: repeat(2, 1fr);
        .values__item--container:nth-child(3) {
          grid-column: 1/-1;
        }
      } 
      .text__content--container {
        width: 80%;
      }
      .services__cards--container {
        grid-template-columns: repeat(2, 1fr);
        .card__item--container {
          .service__title {
            transform: translateY(50px);
          }
          .card__container {
            transition: .0s ease all;
            transform: perspective(40vw) rotateY(180deg); 
            .card__rearward {
              .card__title {
                transform: translateY(0);
              }
            }
          }  
        }
      }
      .gallery__container {
        grid-template-columns: 1fr;
        place-content: center;
        place-items: center;
        .gallery__menu--mobile {
          display: flex;
        }
        .gallery__menu--desktop {
          display: none;
        }
      }
    }
    .footer__container {
      .footer__section--two {
        padding: 15px 0;
        .contact__info--container {
          .contact__text--address {
            padding: 10px 0;
            line-height: 1.2em;
          }
        }
      }
    }
  }

  @include respond(medium) {
    .header__container {
        .burgermenu__container {
            display: none;
        }
        .mainmenu__container {
            display: grid;
            grid-template-columns: 1fr 2.8fr;
        }
    }
    .main__container {
        .slider__container {
            .slider__section--container {
                .slider__item--container {
                    .slider__card--container {
                        .slider__texts--title {
                            .slider-title {
                                font-size: 1.1em;
                            }
                        }
                    }
                }
            }
        }        
      .slogan__container {        
        .slogan__seotitle {
          margin: 0.2em 0;
        }
        .slogan__text {
          margin-bottom: 30px;
        }
      }
        .article__container {
            // width: 90%;
            grid-template-columns: 1fr 1fr;
            // padding: 20px;
            gap: 50px;
            .section__container {
                padding: 25px 0;
                width: 90%;
                margin: auto;
                &:nth-child(3) {
                    grid-column: 1/-1;
                }
            }
        }
        .home__services--container {
            .service__container {
                &.right {
                    .service__text--container {
                        grid-column: 1/5;
                    }
                }
                &.left {
                    .service__text--container {
                        grid-column: 2/-1;
                    }
                }
            }
        }
        .text__content--container {
          width: 70%;
        }
        .services__cards--container {
          grid-template-columns: repeat(3, 1fr);
          .card__item--container {
            .card__link {
              min-width: 100%;
              .card__container {
                width: 100%;
                max-width: 100%;
                object-fit: cover;
                img {
                  min-width: 100%;
                }
              }
            }
          }
        }
    }
    .footer__container {
      .footer__section--two {
        padding: 15px 0;
        .contact__info--container {
          .contact__text--address {
            padding: 10px 0;
            line-height: 1.2em;
          }
        }
      }
    }
  }

  @include respond(large) {
    .header__container {
        .burgermenu__container {
            display: none;
        }
        .mainmenu__container {
            display: grid;
        }
    }
    .main__container {
        .article__container {
            grid-template-columns: repeat(3, 1fr);
            .section__container {
                .section__paragraph {
                    width: 75%;
                }
            }
            .section__container:nth-child(3) { 
                grid-column: 3/3;
            }
        }  
        .text__content--container {
          width: 60%;
        }     
        .gallery__container { 
            .gallery__menu--mobile {
                display: none;
            }
            .gallery__menu--desktop {
                display: block;
            }
        }  
    }
    .footer__container {
      .footer__section--two {
        padding: 15px 0;
        .contact__info--container {
          .contact__text--address {
            padding: 10px 0;
            line-height: 1.2em;
          }
        }
      }
    }
  }
}