@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('./img/wallpaper.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}
.container {
    width: 100%;
    height: 100vh;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;   
    place-content: center; 
    /* place-items: center; */
    background: linear-gradient(90deg, #3617c2fa, #8b0eaaf5);
}
.start__btn {
    margin: 50px 0;
    width: 150px;
    height: 60px;
    background: linear-gradient(90deg, #8b0eaa, #3617c2);
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    color: #fff;
    transition: all ease-in-out .4s;
    align-self: center;
    justify-self: center;
}
.start__btn:hover {
    background: linear-gradient(90deg, #af30cf, #2059d4d7);
    border: 1px solid rgb(87, 31, 218);
    color: #000;
    box-shadow: 2px 3px 7px 1px rgba(87, 31, 218, 0.644);
    letter-spacing: 1px;
    transition: transform .4s ease;
    transition-delay: .1s;
    transform: scale(.9);
}
.waiting__container {
    display: none;
}
.waiting__title {
    font-size: 5em;
    display: flex;
    place-content: center;
    place-items: center;
}
.countdown {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 30% 20%;
    gap: 5%;
    place-content: center;
    margin-bottom: 50px;
}


.countdown__container {
    background-color: #0000003a;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 20%);
    place-content: center;
    
}

h3 {
    grid-column: span 3;
    text-align: center;
    color: #fff;
}
.countdown__container > div {
    margin: 0;
    padding: 0;
}
.countdown__container > div > p {
    text-align: center;
    padding: 0 50px;  
    font-size: 1.5em;  
    color: #fff;
}
#mins, #secs, #hours {
    font-size: 2em;
}

.tools__container {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 5%;
    /* width: 80%; */
    /* margin: 0 auto; */
}
.tool__btn {
    width: 20vw;
    height: 50%;
}

.results__container {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 15%;
}
.result {
    display: grid;
    width: 80vw;
    grid-template-columns: 20% 75% 5%;
    /* padding: 10px; */
    /* gap: 10px; */
    background-color: #424242;
}
.result > div {
    padding: 10px 5px;
    border: 1px solid #fff;
    color: #fff;
    letter-spacing: 1px;
}
.keyword {
    border-left: none !important;
    border-right: none !important;
}
.page {
    text-align: center;
}