$color__fondo__contenido: #272822;
$color__fondo__sidebar: #1d1e19;
$color__texto__focus: #e4db78;
$color__texto__blur: #919288;
$color__iconos__menu: #57584f;
$color__menu__focus: #c0c1b5;

@font-face {
    font-family: 'jetbrain-regular';
    src: url('../font/JetBrainsMono-Regular.ttf');
}
@font-face {
    font-family: 'Consolas';
    src: url('../font/consolab.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Consolas';
}

.main__container {
    background-image: url('../img/interfaz_bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: grid;
    grid-template-columns: 40px 17.3% 1fr;
    grid-template-rows: 29px 1fr 18.5% 18px;
    grid-template-areas:    'topbar topbar topbar'
                            'iconos  menu contenido'
                            'iconos  menu console'
                            'footbar footbar footbar';
    .sidebar__container {
        grid-area: menu;
        color: $color__texto__blur;
        background-color:$color__fondo__sidebar;
        display: block;
        #sidebarSearch {
            display: block;
            width: 90%;
            height: 28px;
            margin: auto;
            padding-left: 15px;
            margin-top: 5px;
            background-color: transparent;
            outline: none;
            border: none;
            border-bottom: solid 1px $color__texto__blur;
            color: $color__menu__focus;
            position: relative;
            z-index: 1;        
            &::-webkit-search-results-button{
                background-color: red;
            }    
        }
        #sidebarSearch::after {
            content: 'O';
            // content: url(../img/search-icon.png);
            height: 25px;
            width: 25px;
            background-color: red;
            // background-image: url(../img/search-icon.png);
            z-index: 2;
            position: absolute;
            right: 0;
            top: 0;

        }
        .sidebar__menu {
            margin-top: 4px;
            display: block;
            font-size: 14px;
            padding-left: 4px;
            padding-top: 4px;
            // background-color: red;
            &::before {
                content: '>';
                display: inline-block;
                padding: 0 5px;
                transform: rotate(90deg);
            }
            .sidebar__list {
                padding-left: 12px;
                margin-top: 4px;
                list-style: none;
                &::before {
                    content: '>';
                    display: inline-block;
                    padding: 0 5px;
                    transform: rotate(90deg);
                }
                .home__link {
                    text-decoration: none;
                    color: $color__texto__blur;
                    display: inline-block;
                    width: 95%;
                    &:hover {
                        color: $color__texto__focus;
                        background-color: $color__iconos__menu;
                    }
                }
                .sidebar__item {
                    border-left: 1px solid $color__menu__focus;
                    padding: 0;
                    display: block;
                    
                   
                    .sidebar__link {
                        text-decoration: none;
                        color: $color__texto__blur;    
                        display: block;
                        padding: 3px 8px;
                        &::before {
                            content: '>';
                            display: inline-block;
                            padding: 0 5px;
                            transform: rotate(0);
                        }   
                        &:hover {
                            background-color: $color__fondo__contenido;
                        }                     
                    }
                    .sidebar__submenu--list {
                        display: none;
                        list-style: none;
                        padding: 0;
                        // margin-top: 2px;
                        .sidebar__submenu--item {
                            .sidebar__link {
                                padding-left: 12px;
                                &::before {
                                    content: '<>';
                                    color: #c77331;
                                }
                            }
                             
                        }
                    }
                    &.menu_category.active{
                        .sidebar__submenu--list {
                            display: block;
                        }
                    }                    
                }                
            }
        }
    }
    .btn__container {
        background-color: $color__fondo__contenido;
        width: 100%;
        height: 100%;
        grid-area: contenido;
        display: flex;
        padding-top: 20px;
        // flex-grow: 8;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        overflow: scroll;
        .btn__container--icon {
            
            display: flex;
            flex-direction: column; 
            place-items: center;
            // padding: 0;
            .btn__link {           
                display: block;     
                text-decoration: none;
                padding: 0;
                .btn__picture {
                    object-fit: contain;
                    background-color: $color__fondo__sidebar;
                    padding: 10px 20px;
                    border-radius: 25px;
                    border: 2px solid $color__menu__focus;
                    .btn__img {
                        width: 150px;
                    }
                }                
                .btn__text {
                    color: $color__texto__blur;
                    max-width: 170px;
                    font-size: 80%;
                    word-break: word-break;
                    text-align: center;
                    padding: 10px 0 5px 0;
                }
            }
            &:hover {
                .btn__link > .btn__picture {
                    box-shadow: 1px 2px 5px #fff;
                }
                .btn__link > .btn__text {
                    color: $color__texto__focus;
                }
            }
        }

    }
}