.add__car--svg {
  stroke-width: 1.5;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.add__car--svg > path {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.add__vehicle--btn, .save__data--btn, .import__data--btn {
  color: #fff;
  position: fixed;
  top: 80px;
  left: 40px;
  background-color: #444;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  z-index: 4;
}

.save__data--btn {
  top: 150px;
}

.import__data--btn {
  top: 220px;
}

.add__vehicle--container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  overflow-y: auto;
  background: #222222f6;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  z-index: 1;  
}

.add__vehicle--container > form {
  height: 90%;
  width: 80%;
  overflow-y: auto;
  padding: 0 0 25px 0;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  border: 2px solid #fff;
  border-radius: 10px;
}
.add__vehicle--container > form > .input__container {
  /* background-color: green; */
  height: 50px;
  width: 70%;
}

.add__vehicle--container > form > .input__container > label {
  display: grid;
  grid-template-columns: 20% 80%;
  font-size: 1.4em;
}

.add__vehicle--container > form > .input__container > label > input, .add__vehicle--container > form > .input__container > label > select {
  font-size: .8em;
  padding-left: 15px;
}

.add__vehicle--container > form > .input__container > label > select {
  max-height: 500px;
}

.image__container {
  max-width: 90vw;
  min-width: 530px;
  max-height: 300px;
  min-height: 300px !important;
  margin: 35px 25px;
  border: 1px solid #fff;
}

.image__container > img {
  width: 530px;
  height: 100%;
  object-fit: contain;
  display: flex;
  place-items: center;
  place-content: center
}
