.config__container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #222222f6;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  z-index: 1;
}

.cfg__btn {
  color: #fff;
  position: relative;
  background-color: #444;
  padding: 5px;
  display: flex;
  place-items: center;
  place-content: center;
  height: 50px;
  width: 50px;
  z-index: 4;
}

.config {
  /* background-color: red; */
  width: 100%;
  text-align: center;

}

.config__inputs {
  display: flex;
  width: 100%;
  place-content: center;
  margin-top: 50px;
  /* background-color: green; */
}

.config__inputs > div {
  /* background-color: blue; */
  width: 100%;
}

.config__inputs > div > .input__container {
  display: flex;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
  place-content: center;
}


.config__inputs > div > .input__container > button {
  background-color: rgb(0, 68, 255);
}

.config__inputs > div > .input__container > button:hover {
  background-color: rgb(114, 151, 252);
}

.config__inputs > div > .input__container > .input__item {
  width: 90%;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 1.2em;
}

.categories__container, .shops__container {
  background-color: #fff;
  height: 50vh;
  width: 90%;
  margin: 15px auto 0 auto;
  border: 2px solid #444;
  overflow-y: scroll;
}
.category__item {
  display: flex;
  place-items: center;
  place-content: center;
  color: #000;
}

.category__item:hover {
  background-color: rgb(52, 103, 245);
  color: #fff;
}

.category__item > .category__name {
  width: 90%;
  font-size: 1.2em;
  padding: 10px 0;
}

.shop__item {
  display: flex;
  place-items: center;
  place-content: center;
  color: #000;
}

.shop__item:hover {
  background-color: rgb(52, 103, 245);
  color: #fff;
}

.shop__item > .shop__name {
  width: 90%;
  font-size: 1.2em;
  padding: 10px 0;
}

.delete__icon {
  stroke-width: 1.5;
  color: red;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.delete__icon > path {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.btns__container {
  display: flex;
  width: 95%;
  margin: 30px auto 0 auto;
  justify-content: space-around;
  gap: 20px;
}

.btns__container > button {
  width: 100%;
  background-color: rgb(0, 68, 255);
}

.btns__container > button:hover {
  background-color: rgb(108, 147, 255);
}