body {
	margin: 0px;
	padding: 0px;
	font-family: verdana;
}

table.fondo {
	width: 100%;
	height: 100%;
	border: 0px #000 solid;
}

img.fondo {
	position: fixed;
	top:0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0.2;
}

.logo {
	width: 15%;
}

input {
	border: 1px #000 solid;
	border-radius: 20px;
	width: 50%;
	font-size: 20;
	letter-spacing: 3px;
	font-family: verdana;
	padding: 10px;
}

hr {
	border: 2px transparent solid;
}

td {
	border: 0px #000 solid;
	padding: 10px;
}

a {
	border: 0px transparent solid;
}

div.ico {
	border: 0px transparent solid;
	float: left;
	width: 50;
	margin: 5px;
	padding: 5px;
}

img.ico {
	width: 48px;
	height: 48px;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}

img.ico2 {
	width: 48px;
	height: 48px;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
	border-radius: 5px;
	-webkit-box-shadow: 7px 0px 52px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 0px 52px -12px rgba(0,0,0,0.75);
	box-shadow: 7px 0px 52px -12px rgba(0,0,0,0.75);
}

table.ico {
	margin: 0px;
	padding: 0px;
}

div.menu_superior {
	overflow-y: auto;
	position: fixed;
	height:100%;
	width: 250px;
	top: 0;
	left: 0;
	border: 0px #000 solid;
	visibility: hidden;
	background-color: grey;
	z-index: 5;
	-webkit-box-shadow: 7px 0px 52px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 0px 52px -12px rgba(0,0,0,0.75);
	box-shadow: 7px 0px 52px -12px rgba(0,0,0,0.75);
}

div.menu_superior {
	scrollbar-face-color: #c0c0FF;
	 scrollbar-track-color: #000;
}

div.menu_superior::-webkit-scrollbar-thumb {
	background-color: #c0c0FF;
	outline: 1px solid #c0c0FF;
}
div.menu_superior::-webkit-scrollbar {
	width: 5px;
	background: black; 
}



img.menu_superior {
	position: fixed;
	width: 48px;
	height: 48px;
	margin: 5px;
	padding: 5px;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0.5;
}

table.menu_superior
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.barra {
	width: 100%;
	border: 0px solid black;
	border-spacing: 0px;
}

.menu_sub {
	width: 100%;
	position: absolute;
	visibility: hidden;
	border-spacing: 0px;
	cursor: pointer;
	background-color: white;
}

.menu_sub_inicial {
	width: 100%;
	padding: 0px;
	cursor: pointer;
}

.menu_sub_inicial:hover {
	background-color: #c0c0FF;
	color:white;
}

.celda {
	font-family: verdana;
	font-size: 12pt;
	border: 1px solid #c0c0c0;
	background-color: #c0c0c0;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
}

.celda:hover {
	border: 1px solid black;
}

table.menu_barra_superior {
	
	position: fixed;
	top: 0;
	left: 0;
	
	background-color: transparent;
	color: black;
	z-index: 2;
	padding: 0px;
	margin: 0px;
}

table.menu_barra_menu_superior {
	width: 100%;
	background-color: black;
	color: white;
	z-index: 2;
	padding: 0px;
	margin: 0px;
}

table.menu_titulo {
	border-spacing: 0;
	border-collapse: collapse;
}

img.logo_inferior{
	padding: 10%;
	margin: 10%;
}

hr.barra_menu {
	padding: 0px;
	margin: 0px;
	border: 1px #000 solid;
}

td.sin_margen {
	padding: 0px;
	margin: 0px;
}

img.ico_menu {
	padding: 5px;
	margin: 5px;
}
/*
     FILE ARCHIVED ON 01:28:59 Jan 26, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:32:29 Feb 15, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.716
  exclusion.robots: 0.027
  exclusion.robots.policy: 0.012
  esindex: 0.014
  cdx.remote: 7.663
  LoadShardBlock: 141.536 (3)
  PetaboxLoader3.resolve: 176.088 (5)
  PetaboxLoader3.datanode: 93.219 (5)
  load_resource: 192.251 (2)
*/