@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root{
    --color-primary: #444CF7;
    --color-title: #000;
    --align-title: left;
    --padding-container: 100px 0;
    --width-container: 90%;
    --max-width-container: 1200px;
    --color-btn: #444CF7;
    --btn-hover: #a1a6ff;
    --text-btn: #fff;
    --padding-btn: 20px 35px;
    --height-shape:32em;
}


body{
    font-family: 'Inter', sans-serif;
    background-color: #e5e5f7;
    opacity: 1;
    background-image:  radial-gradient(#444cf7 0.75px, transparent 0.75px), radial-gradient(#444cf7 0.75px, #e5e5f7 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,15px 15px;
    user-select: none;
}

.container {
    width: var(--width-container);
    max-width: var(--max-width-container);
    padding: var(--padding-container);
    margin: 0 auto;
    overflow: hidden;
}
.hero {
    --padding-container: 0;
    height: 100vh;
    min-width: 500px;
    position: relative;
}
.hero::after {
    content: '';
    height: var(--height-shape);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.hero__container {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    place-items: center;
    gap: 20px;
}
.hero__title {
    font-size: 4rem;
}
.hero__paragraph {
    font-size: 1.2rem;
    margin: 25px 0;
}

.cta {
    display: inline-block;
    padding: var(--padding-btn);
    background-color: var(--color-btn);
    text-decoration: none;
    text-align: center;
    color: var(--text-btn);
}
.cta:hover {
    background-color: var(--btn-hover);
    color: var(--color-btn);
    font-weight: 700;
}
.hero__img {
    width: 95%;
}

/* ******************************** */
/*               MAIN               */
/* ******************************** */

.main {
    background-color: #fff;
}

.title {
    font-size: 2.5rem;
    text-align: var(--align-title);
    color: var(--color-title);
}
.title--border::after{
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    margin-top: 20px;
    background-color: var(--color-primary);
}

/* ******************************** */
/*            INSTRUCTOR            */
/* ******************************** */

.instructor {
    text-align: center;
    border-bottom: 2px solid #ccc;
    --padding-container: 30px 0 60px;
}
.instructor__container {
    width: 70%;
    margin: auto;
}
.instructor__name {
    margin: 20px 0;
}
.instructor__tag {
    color: var(--color-primary);
    font-weight: 700;
    margin-bottom: 20px;
}
.instructor__paragraph {
    text-align: left;
    line-height: 1.4;
    font-style: italic;
    color: #615a5a;
}
.instructor__img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
}

/* ******************************** */
/*              ABOUT               */
/* ******************************** */

.about {
    display: grid;
    grid-template-columns: 5fr 4fr;
    place-items: center;
}
.about__course {
    width: 90%;
}
.about__paragraph  {
    margin: 20px 0;
    line-height: 1.5;
    font-weight: 300;
}
.about__picture {
    text-align: center;
}
.about__img {
    width: 95%;
}

/* ******************************** */
/*              CARDS               */
/* ******************************** */

.cards {
    background-color: #f2f2f2;
}
.card__copy {
    margin-top: 20px;
}
.cards__container {
    width: 99%;
    margin: 0 auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas: 
    ".          card1           .    "
    "card2      card1           card3"
    "card2      card4           card3"
    ".          card4           .    ";
}

.card__item {
    padding: 20px;
    background-color: #fff;
    border-top: 5px solid #667eea;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__img {
    background: var(--color-primary);
    margin-top: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__title {
    margin: 20px 0;
    font-size: 1.5rem;
}
.card__paragraph {
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.4;
    text-align: center;
}
.card__item:nth-of-type(1) {
    grid-area: card1;
}
.card__item:nth-of-type(2) {
    grid-area: card2;
}
.card__item:nth-of-type(3) {
    grid-area: card3;
}
.card__item:nth-of-type(4) {
    grid-area: card4;
}

/* ******************************** */
/*              COURSE              */
/* ******************************** */

.course {
    --color-title: #fff;
    --color-btn: #fff;
    --text-btn: #444cf7;
    color: var(--color-title);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.course__about {
    align-self: center;
    width: 97%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    background-color: var(--color-primary);
    grid-column: 1/4;
    grid-row: 2/-2;
    z-index: 99;
}
.course__about--right {
    grid-column: 3/-1;
}
.course__picture {
    margin: 0;
    grid-column: 3/-1;
    grid-row: 1/-1;
}
.course__picture--left {
    grid-column: 1/4;
}
.course__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ******************************** */
/*              FOOTER              */
/* ******************************** */

.footer {
    position: relative;
    --padding-container: 160px 0 50px;    
}
.footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background: #fff;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.footer__contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
}
.footer__copy {
    margin: 20px 0;
    font-weight: 300;
}
.footer__picture {
    margin: 0;
}
.footer__social {
    display: flex;
    padding-top: 30px;
    flex-wrap: wrap;
}
.social__link {
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social__link:hover {
    background-color: var(--btn-hover);
}
.footer__icon {
    width: 30px;
    height: 30px;
}.social__link:hover > .footer__icon {
    fill: #fff;
}
.footer__copyright {
    padding-top: 30px;
    border-top: 2px solid #918484;
    text-align: center;
}
.footer__copyright::after {
    content: ' - sydig.reus@gmail.com';
}