.link__btn {
    text-decoration: none;
    padding: 15px 15px;
    height: 1rem;
    border-radius: 3px;
    &--slider {
        color: #fff;
        background-color: #3f0322;
        border: 1px solid #fff;
        &:hover {
            background-color: #daa520;
            color: #000;
            border: 1px solid #000;
            box-shadow: 1px 1px 3px #000;
        }
    }
    &--section {
        color: #fff;
        background-color: #3f0322;
        &:hover {
            background-color: #daa520;
            color: #000;
            outline: 1px solid #000;
            box-shadow: 1px 1px 3px #000;
        }
    }
}