.text__article--container, .text__content--container {
    width: 60%;
    margin: 0 auto;
    padding: 25px 0 50px 0;
    p, ul, li {
      font-family: 'Nunito Sans';
        color: #dfdede;
        font-size: 18px;
        span {
          color: #a579ab;
          font-weight: 600;
        }
        a {
          color: #7d3c85;
          font-weight: 600;
          &:hover {            
            color: #a579ab;
          }
        }
    }
    p {
      margin-bottom: 50px;
    }
    h3, h2, h1, h4 {
        color: #c9c9c9;
        text-align: left;
    }
    // .text__columned--container {
    //   display: grid;
    //   grid-template-columns: auto 1fr;
    //   gap: 20px;
    //   place-content: center;
    //   place-items: center;
    //   .column--left,  .column--right {
    //     ul {
    //       li {
    //         padding: 10px 0;
    //         a {
    //           text-decoration: none;
    //           font-size: 21px;
    //         }
    //       }
    //     }
    //     &-img {
    //       height: 100%;
    //       width: 500px;
    //       object-fit: contain;
    //       img {
    //         height: 100%;
    //         width: 100%;
    //       }
    //     }
    //   }
    // }
    .mobile__index {
      display: none;
      ul > li {
        // list-style: none;
        padding: 10px 0;
        a {
          text-decoration: none;
        }
      }
    }
    .columned__content {
      display: grid;
      grid-template-columns: 2fr 4fr;
      gap: 20px;
      .index__column {
        // display: block;
        height: auto;
        // background-color: green;
        img {
          max-width: 100%;
        }
        ul {
          position: sticky;
          top: 50px;
          left: 0;
          // background-color: blue;
          li {
            padding: 15px 0;
            a {
              text-decoration: none;
            }
          }
        }
      }
      .content__column {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        place-items: center;
        img {
          max-width: 90%;
          width: 90%;
        }
        h2, h3, h4 {
          place-self: start;
        }
        ul {
          list-style: none;
          padding: 15px 0 10px 0;
          margin: 0;
          li {
            padding: 0 0 20px 0;
            margin: 0;
          }
        }
        p {
          margin: 5px 0 15px 0;
        }
      }
    }
}
.to__top--btn {
  display: none;
  position: fixed;
  height: 20px;
  width: 20px;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  font-size: 18px;
  border: none;
  outline: none;
  place-content: center;
  place-items: center;
  background-color: #525151;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  svg {
    // display: flex;
    padding: 5px 0 0 0 ;
    margin: 0;
    path {
      stroke: #fff;
    }
  }
}
.error404 {
    // background-color: blue;
    display: flex;
    // grid-template-columns: 1fr;
    height: 100%;
    flex-direction: column;
    place-items: center;
    place-content: center;
    // justify-content: center;
    // align-items: center;
    min-height: calc(100vh - 425px);; // Ajusta este valor según la altura de tu header y footer
    text-align: center;
    margin: 0;
    padding: 0;
    // padding: 1rem;
  
    &__title {
      font-size: 8rem;
      font-weight: bold;
      color: $color__primary;
      margin: 0;
      padding: 0;
    //   margin-bottom: 1rem;
    }
  
    &__description {
      font-size: 1.25rem;
      color: #fff;
      margin: 0;
      padding: 25px 0;
    //   margin-bottom: 2rem;
    }
  
    &__link {
      display: inline-block;
      background-color: #008cba;
      color: #fff;
      text-decoration: none;
      padding: 12px 24px;
      border-radius: 4px;
      font-size: 1rem;
      font-weight: 600;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #00688b;
      }
    }
  }
  