.container.light {        
    background-color: $color__background-light; 
    .header__container {
        .burgermenu__container {
            background-color: $color__background-dark;
            .burgermenu__icon {
                .burger__icon--svg {          
                    fill: #fff;
                }
            }
            .burgermenu__list--container {
                background-color: orange;
                nav {
                    ul {
                        li {
                            &:hover {
                                a {                                
                                    color: $color__primary;
                                }
                            }
                        }
                        a {
                            color: #000;
                        }
                    }
                }
            }
        }
        .mainmenu__container {
            .header__menu--container {
                .toggle__mode--container {
                    background-color: #1a1a1a;
                    border: 1px solid #000;
                    .toggle__mode--btn {
                        .toggle__mode--sun {
                            fill: #dfca12;
                        }
                        .toggle__mode--moon {
                            fill: #2a98e2;
                        }
                        &::before {
                            background-color: #c7c7c7;
                        } 
                    }
                }
                .top__nav--container { 
                    .nav__list {
                        .nav__item{
                          .nav__link {
                            color: #000;
                            // &:hover {
                            //     color: $color__primary;
                            //     border-bottom: 1px solid $color__primary;
                            // }
                          }
                        }
                      }
                }
            }
        }
        }
    
    .main__container {   
        .slider__container {
            .slider__navegation--container {
                .slider__navegation--item {
                    border: 1px solid #000;
                }
            }
        }  
        .article__container {
            background-color: #fff;
            border-color: $color__primary;
            .section__container {
                .section__title {
                    border-color: #000;
                }
            }
        }
        .text__article--container {
            color: #000;            
        }    
        .centered__title {
            color: #000;
        }   
        .services__cards--container {
            .card__item--container {
                .service__title {
                    color: #000;
                }
            }
        }
        .gallery__container {   
            .gallery__menu--desktop {
                .gallery__menu {
                    .gallery__menu--list-desktop {
                        .gallery__menu--item {
                            .gallery__menu--link {
                                color: #000;
                            }
                            &:hover {
                                background-color: $color__primary-light;
                            }
                        }
                    }
                }
            } 
            .gallery__menu--mobile {
                .gallery__show--more-container {
                    .gallery__show--more {
                        color: #000;
                    }
                }
                .gallery__menu {
                    .gallery__menu--list-mobile {
                        .gallery__menu--item {
                            .gallery__menu--link {
                                color: #000;
                            }
                            &:hover {
                                background-color: $color__primary;
                                .gallery__menu--link {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            .gallery__galleries--container {
                .galleries__container {
                    .galleries__items--container {
                        &.enabled {
                            .gallery__img--container {                                       
                                .gallery__item--overlay {
                                    background: $color__primary-light;
                                }                                
                                &.full-size {
                                    background-color: #000000da;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer__container {
        .footer__section--two {
            .contact__info--container > p {
                color: #000;
            }
            .rrss__info--container {
                div > a {
                    svg > path {
                        stroke: #000;
                    }
                    &:hover {
                        svg > path {
                            stroke: $color__primary;
                        }
                    }
                }
            }
        }
        .footer__section--three {
            ul > li > a {
                color: #000;
                &:hover {
                    color: $color__primary;
                }
            }
        }
    }
    .copyright__developer--container {
        p {
            color: #000;
        }
    }
}