@import 'viewer';
        /* ******************************** */
        /*      INICIO SECCION PORTFOLIO    */
        /* ******************************** */

        .gallery__container {   
            // height: 100%;       
            // width: 100vw;
            display: grid;
            grid-template-columns: 25% 75%;
            .gallery__menu--mobile {
                display: none;
                place-items: center;
                place-content: center;
                flex-direction: column;
                .gallery__show--more-container {
                    margin-top: 25px;
                    display: block;
                    text-align: center;
                    .gallery__show--more {
                        list-style: none;
                        display: inline-block;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .gallery__menu {
                    color: #fff;
                    text-align: center;
                    padding: 5px 0;
                    .gallery__menu--list-mobile {
                        margin-top: 15px;
                        transition: all ease-in-out .5s;
                        // height: 0;
                        max-height: 0;
                        overflow: hidden;
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        color: #fff;
                        // width: 100%;
                        .gallery__menu--item {
                            // height: 0px;
                            padding: 0;
                            margin: 0;
                            // width: 90%;
                            padding: 10px 0;
                            text-align: center;
                            .gallery__menu--link {
                                // height: 0px;
                                padding: 0;
                                margin: 0;
                                // width: 90%;
                                text-decoration: none;
                                color: #fff;
                                user-select: none;
                            }
                            &:hover {
                                background-color: $color__primary-light;
                                .gallery__menu--link {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                &.active {
                    .gallery__show--more-container {
                        .gallery__show--more {
                            color: $color__primary;
                        }
                    }
                    .gallery__menu {
                        .gallery__menu--list-mobile {
                            display: block;
                            // height: 100%;
                            max-height: 400px;
                            // line-height: 1rem;
                        }
                    }
                }
            }
            .gallery__menu--desktop {
                display: block;
                height: 100%;
                .gallery__menu {
                    height: 100%;
                    margin: auto;
                    .gallery__menu--list-desktop {
                        position: sticky;
                        top: 33%;
                        margin: 0;
                        margin-top: 5vh;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        place-content: center;
                        place-items: center;
                        list-style: none;
                        transition: position ease-in-out 2.3s;
                        .gallery__menu--item {
                            width: 90%;
                            padding: 15px 0;
                            text-align: center;
                            .gallery__menu--link {
                                // width: 90%;
                                text-decoration: none;
                                color: #fff;
                                user-select: none;
                            }
                            &:hover {
                                background-color: $color__primary-light;
                                .gallery__menu--link {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            .gallery__galleries--container {
                .gallery__viewer--container{
                    display: none;
                }
                .galleries__container {
                    padding: 25px 50px;
                    .galleries__items--container {
                        display: none;
                        // display: grid;
                        grid-template-columns: repeat(3,1fr);
                        .gallery__item--img {
                            width: 100%;
                            position: relative;
                            &::before {
                                content: '';
                                height: 100%;
                                width: 100%;
                                // background-color: aqua;
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 9;
                                &:hover {
                                    content: '';
                                    height: 100%;
                                    width: 100%;
                                    // background-color: aqua;
                                    position: absolute;
                                    z-index: 9;
                                }
                            }  
                            &:hover {
                                cursor: pointer;                                
                            }  
                        }
                        &.enabled {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 15px;
                            &::after {
                                content: "";
                                flex-grow: 999;
                              }
                            .gallery__img--container {
                                padding: 0;
                                margin: 0;
                                flex: 1 1 auto;
                                height: 25vh;
                                cursor: pointer;
                                position: relative;
                                transition: all ease-in-out .3s;
                                .gallery__item--img {
                                    object-fit: cover;
                                    object-position: center center;
                                    width: 100%;
                                    height: 100%;
                                    vertical-align: middle;
                                }
                                &:hover {
                                    transform: scale(1.1);
                                    outline: 1px solid $color__primary;
                                    box-shadow: 1px 1px 10px $color__primary;
                                    z-index: 1;
                                    .gallery__item--overlay{
                                        transform: scale(1);
                                        border-radius: 0;
                                    }
                                    // z-index: 99;
                                }
                                .gallery__item--overlay {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    background: $color__primary-light;
                                    top: 0;
                                    left: 0;
                                    transform: scale(0);
                                    transition: all 0.2s 0.1s ease-in-out;
                                    color: #fff;
                                    border-radius: 50%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center; 
                                }                                
                                &.full-size {
                                    height: 100%;
                                    width: 100vw;
                                    position: absolute;  
                                    top: 0;
                                    left: 0;
                                    background-color: #000000da;
                                    display: flex;
                                    place-content: center;
                                    place-items: center;
                                    z-index: 2;
                                    &:hover {
                                        transform: none;
                                    }
                                 img {
                                    max-width: 90%;
                                    max-height: 90%;

                                    object-fit: contain;
                                 } 
                                 .gallery__item--overlay {
                                    display: none;
                                 }
                                }
                            }
                        }
                        &.disabled {
                            display: none;
                        }
                    }
                }
            }
        }
        /* ******************************** */
        /*      FIN SECCION PORTFOLIO       */
        /* ******************************** */   