$color__background-dark: #1A1A1A;
$color__background-light: #dfdfdf;
$color__primary-light: #9e00fa70;
$color__primary: rgba(106, 6, 59,1);

$font-1: 'body text';
$font-2: 'Corbel';
$font-3: 'Dubai';
$font-4: 'Ebrima';
$font-5: 'Gadugi';
$font-6: 'Gotham';  // pago muy cara
$font-7: 'Montserrat';
$font-8: 'Segoe UI';
$font-9: 'Sikta Heading';
$font-10: 'Roboto';
$font-11: 'Bebas Neue';


$size__header-menu: 330px;
$size__burger-menu: 200px;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;