$color__background-dark: rgb(26, 26, 26);
$color__background-light: rgb(223, 223, 223);
$color__primary-light: #9e00fa70;
$color__primary: #6a063b;
// $color__primary-hover: rgb(218, 117, 197);
// $color__font-hover: rgb(75, 0, 130);
// $color__background-hover: rgb(184, 110, 162);
$color__secondary: #daa520;

$size__header-menu: 330px;
$size__burger-menu: 200px;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;