@import 'variables';
.gallery__viewer--container {
    width: 100vw;
    height: 100vh;
    // background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    place-content: center;
    z-index: 3;
    .gallery__viewer--figure {
        position: relative;
        background-color: #000000da;
        width: 100%;
        height: 100%;
        top: 0;
        margin: 0;
        padding: 0;
        display: flex;
        place-content: center;
        place-items: center;
        color: #fff;
        .viewer__btn--close, .viewer__btn--next, .viewer__btn--previous, .viewer__pagination--count {
            position: absolute;
            display: flex;
            place-content: center;
            place-items: center;
            user-select: none;
        }
        .viewer__btn--close, .viewer__btn--next, .viewer__btn--previous {
            cursor: pointer;
        }
        .viewer__btn--next, .viewer__btn--previous {
            height: 10%;
            width: 2%;
            background-color: $color__primary;
            border-radius: 10%;
            &:hover {
                background-color: #742b52;
            }
        }
        .viewer__pagination--count {
            top: 5%;
            left: 5%;
        }
        .viewer__btn--close {
            top: 5%;
            right: 5%;
            &:hover {
                color: $color__primary;
            }
        }
        .viewer__btn--previous {
            left: 3%;
        }
        .viewer__btn--next {
            right: 3%;      
        }
        img {
            max-width: 90vw;
            max-height: 90vh;
            object-fit: contain;
            // max-width: 150px;
        }
    }
}