@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Voces:regular);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);
li.nav__item {
  cursor: pointer;
  display: flex;
  padding: 10px 15px;
}
li.nav__item a {
  height: 100%;
}

li.nav__parent > a::after {
  content: ">";
  height: 25px;
  width: 25px;
  position: absolute;
  right: 5px;
  color: rgb(197, 112, 247);
}

.header__container {
  z-index: 2;
  /* ******************************** */
  /*      INICIO SECCION MENU         */
  /* ******************************** */
  /* ******************************** */
  /*            MENU NUEVO            */
  /* ******************************** */
  /* ******************************** */
  /*         FIN SECCION MENU         */
  /* ******************************** */
}
.header__container .toggle__mode--container {
  position: absolute;
  height: 20px;
  width: 40px;
  top: 20px;
  right: 40px;
  background-color: #1a1a1a;
  border-radius: 25px;
  border: 1px solid #000;
  cursor: pointer;
  padding: 0 5px;
}
.header__container .toggle__mode--container .toggle__mode--btn {
  display: flex;
  height: 100%;
}
.header__container .toggle__mode--container .toggle__mode--btn .toggle__mode--sun {
  position: absolute;
  left: 5px;
  top: 0;
  height: 100%;
  display: flex;
  place-items: center;
  place-content: center;
  fill: #dfca12;
}
.header__container .toggle__mode--container .toggle__mode--btn .toggle__mode--moon {
  position: absolute;
  right: 5px;
  top: 0;
  height: 100%;
  display: flex;
  place-items: center;
  place-content: center;
  fill: #2a98e2;
}
.header__container .toggle__mode--container .toggle__mode--btn::before {
  content: "";
  width: 28px;
  height: 100%;
  border-radius: 25px;
  position: absolute;
  background-color: #c7c7c7;
  z-index: 1;
}
.header__container .toggle__mode--container .toggle__mode--btn.dark::before {
  right: 0;
}
.header__container .toggle__mode--container .toggle__mode--btn.light::before {
  right: calc(100% - 28px);
}
.header__container .burgermenu__container {
  background-color: rgb(26, 26, 26);
  width: 100%;
  height: 100%;
}
.header__container .burgermenu__container .burgermenu__icon {
  position: relative;
}
.header__container .burgermenu__container .burgermenu__icon .burger__icon--svg {
  cursor: pointer;
  display: flex;
  position: absolute;
  fill: #fff;
  width: 32px;
  height: 32px;
  margin: 15px 0 0 15px;
  z-index: 2;
}
.header__container .burgermenu__container .burgermenu__list--container {
  background-color: rgb(26, 26, 26);
  height: 0%;
  width: 0%;
  transition: all ease-in-out 0.6s;
  position: absolute;
  z-index: 1;
}
.header__container .burgermenu__container .burgermenu__list--container nav {
  display: none;
  opacity: 0;
}
.header__container .burgermenu__container .burgermenu__list--container nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header__container .burgermenu__container .burgermenu__list--container nav ul li {
  opacity: 0;
  animation: burger-disappear 0.3s forwards 0s 1 ease-in-out;
}
.header__container .burgermenu__container .burgermenu__list--container nav ul li.dropdown {
  position: relative;
}
.header__container .burgermenu__container .burgermenu__list--container nav ul li.dropdown .dropdown-content {
  display: none;
}
.header__container .burgermenu__container .burgermenu__list--container nav ul li.dropdown:hover .dropdown-content {
  height: 100%;
  opacity: 1;
}
.header__container .burgermenu__container .burgermenu__list--container nav ul li:hover a {
  color: rgb(106, 6, 59);
  text-decoration: underline;
}
.header__container .burgermenu__container .burgermenu__list--container nav ul a {
  text-decoration: none;
  color: #fff;
}
.header__container .burgermenu__container .burgermenu__list--container.active {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
}
.header__container .burgermenu__container .burgermenu__list--container.active nav {
  display: block;
  opacity: 1;
}
.header__container .burgermenu__container .burgermenu__list--container.active nav ul li {
  transition: all ease-in-out 0.3s;
  animation: burger-appear 0.3s forwards 0.5s 1 ease-in-out;
}
.header__container .burgermenu__container .burgermenu__logo {
  display: flex;
  place-content: center;
}
.header__container .burgermenu__container .burgermenu__logo .burger__logo--img {
  height: 150px;
  padding-top: 25px;
}
.header__container .mainmenu__container {
  display: none;
  position: relative;
  grid-template-columns: 1fr 2fr;
}
.header__container .mainmenu__container .logo__container {
  display: flex;
  place-content: center;
  place-items: center;
}
.header__container .mainmenu__container .logo__container .logo__img {
  height: 75%;
}
.header__container .mainmenu__container .header__menu--container {
  position: relative;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container {
  height: 50px;
  display: flex;
  place-items: center;
  place-content: end;
  margin-right: 125px;
  margin-top: 140px;
  z-index: 99;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  gap: 20px;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item .nav__link {
  display: block;
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item .nav__link:hover {
  color: rgb(106, 6, 59);
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__link {
  text-decoration: none;
  color: #fff;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children {
  background-color: #fff;
  border: 2px solid #fff;
  position: absolute;
  top: 100%;
  left: -150%;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 350px;
  display: none;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children {
  padding: 25px 10px;
  position: relative;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children .nav__link {
  text-decoration: none;
  color: #000;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children .nav__list--subchildren {
  background-color: #fff;
  outline: 2px solid #fff;
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 1;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children .nav__list--subchildren .nav__item--subchildren {
  position: relative;
  margin: 0;
  padding: 15px 10px;
  list-style: none;
  width: 180px;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children .nav__list--subchildren .nav__item--subchildren a {
  color: #000;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children .nav__list--subchildren .nav__item--subchildren .nav__list--subchildren-submenu {
  background-color: #fff;
  outline: 2px solid #fff;
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children .nav__list--subchildren .nav__item--subchildren .nav__list--subchildren-submenu .nav__item--subchildren-subitem {
  padding: 15px 10px;
  width: 145px;
  text-align: center;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children .nav__list--subchildren .nav__item--subchildren .nav__list--subchildren-submenu .nav__item--subchildren-subitem a {
  color: #000;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children .nav__list--subchildren .nav__item--subchildren .nav__list--subchildren-submenu .nav__item--subchildren-subitem:hover {
  background-color: rgb(106, 6, 59);
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children .nav__list--subchildren .nav__item--subchildren .nav__list--subchildren-submenu .nav__item--subchildren-subitem:hover a {
  color: #fff;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children .nav__list--subchildren .nav__item--subchildren:hover {
  background-color: rgb(106, 6, 59);
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children .nav__list--subchildren .nav__item--subchildren:hover a {
  color: #fff;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children .nav__list--subchildren .nav__item--subchildren:hover .nav__list--subchildren-submenu {
  display: block;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children .nav__list--subchildren .nav__item--subchildren:hover .nav__list--subchildren-submenu .nav__item--subchildren-subitem {
  padding: 15px 10px;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children:hover {
  color: #fff;
  background-color: rgb(106, 6, 59);
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children:hover a {
  color: #fff;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent .nav__list--children .nav__item--children:hover ul {
  display: block;
  visibility: visible;
  opacity: 1;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item--parent:hover .nav__list--children {
  display: block;
  visibility: visible;
  opacity: 1;
}

.gallery__viewer--container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  place-content: center;
  z-index: 3;
}
.gallery__viewer--container .gallery__viewer--figure {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8549019608);
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  display: flex;
  place-content: center;
  place-items: center;
  color: #fff;
}
.gallery__viewer--container .gallery__viewer--figure .viewer__btn--close, .gallery__viewer--container .gallery__viewer--figure .viewer__btn--next, .gallery__viewer--container .gallery__viewer--figure .viewer__btn--previous, .gallery__viewer--container .gallery__viewer--figure .viewer__pagination--count {
  position: absolute;
  display: flex;
  place-content: center;
  place-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.gallery__viewer--container .gallery__viewer--figure .viewer__btn--close, .gallery__viewer--container .gallery__viewer--figure .viewer__btn--next, .gallery__viewer--container .gallery__viewer--figure .viewer__btn--previous {
  cursor: pointer;
}
.gallery__viewer--container .gallery__viewer--figure .viewer__btn--next, .gallery__viewer--container .gallery__viewer--figure .viewer__btn--previous {
  height: 10%;
  width: 2%;
  background-color: rgb(106, 6, 59);
  border-radius: 10%;
}
.gallery__viewer--container .gallery__viewer--figure .viewer__btn--next:hover, .gallery__viewer--container .gallery__viewer--figure .viewer__btn--previous:hover {
  background-color: #742b52;
}
.gallery__viewer--container .gallery__viewer--figure .viewer__pagination--count {
  top: 5%;
  left: 5%;
}
.gallery__viewer--container .gallery__viewer--figure .viewer__btn--close {
  top: 5%;
  right: 5%;
}
.gallery__viewer--container .gallery__viewer--figure .viewer__btn--close:hover {
  color: rgb(106, 6, 59);
}
.gallery__viewer--container .gallery__viewer--figure .viewer__btn--previous {
  left: 3%;
}
.gallery__viewer--container .gallery__viewer--figure .viewer__btn--next {
  right: 3%;
}
.gallery__viewer--container .gallery__viewer--figure img {
  max-width: 90vw;
  max-height: 90vh;
  -o-object-fit: contain;
     object-fit: contain;
}

/* ******************************** */
/*      INICIO SECCION PORTFOLIO    */
/* ******************************** */
.gallery__container {
  display: grid;
  grid-template-columns: 25% 75%;
}
.gallery__container .gallery__menu--mobile {
  display: none;
  place-items: center;
  place-content: center;
  flex-direction: column;
}
.gallery__container .gallery__menu--mobile .gallery__show--more-container {
  margin-top: 25px;
  display: block;
  text-align: center;
}
.gallery__container .gallery__menu--mobile .gallery__show--more-container .gallery__show--more {
  list-style: none;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
.gallery__container .gallery__menu--mobile .gallery__menu {
  color: #fff;
  text-align: center;
  padding: 5px 0;
}
.gallery__container .gallery__menu--mobile .gallery__menu .gallery__menu--list-mobile {
  margin-top: 15px;
  transition: all ease-in-out 0.5s;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #fff;
}
.gallery__container .gallery__menu--mobile .gallery__menu .gallery__menu--list-mobile .gallery__menu--item {
  padding: 0;
  margin: 0;
  padding: 10px 50px;
  text-align: center;
}
.gallery__container .gallery__menu--mobile .gallery__menu .gallery__menu--list-mobile .gallery__menu--item .gallery__menu--link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.gallery__container .gallery__menu--mobile .gallery__menu .gallery__menu--list-mobile .gallery__menu--item:hover {
  background-color: rgba(158, 0, 250, 0.4392156863);
}
.gallery__container .gallery__menu--mobile .gallery__menu .gallery__menu--list-mobile .gallery__menu--item:hover .gallery__menu--link {
  text-decoration: underline;
}
.gallery__container .gallery__menu--mobile.active .gallery__show--more-container .gallery__show--more {
  color: rgb(106, 6, 59);
}
.gallery__container .gallery__menu--mobile.active .gallery__menu .gallery__menu--list-mobile {
  display: block;
  max-height: 400px;
}
.gallery__container .gallery__menu--desktop {
  display: block;
  height: 100%;
}
.gallery__container .gallery__menu--desktop .gallery__menu {
  height: 100%;
  margin: auto;
}
.gallery__container .gallery__menu--desktop .gallery__menu .gallery__menu--list-desktop {
  position: sticky;
  top: 33%;
  margin: 0;
  margin-top: 5vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  list-style: none;
  transition: position ease-in-out 2.3s;
}
.gallery__container .gallery__menu--desktop .gallery__menu .gallery__menu--list-desktop .gallery__menu--item {
  width: 90%;
  padding: 15px 0;
  text-align: center;
}
.gallery__container .gallery__menu--desktop .gallery__menu .gallery__menu--list-desktop .gallery__menu--item .gallery__menu--link {
  text-decoration: none;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.gallery__container .gallery__menu--desktop .gallery__menu .gallery__menu--list-desktop .gallery__menu--item:hover {
  background-color: rgba(158, 0, 250, 0.4392156863);
}
.gallery__container .gallery__menu--desktop .gallery__menu .gallery__menu--list-desktop .gallery__menu--item:hover .gallery__menu--link {
  text-decoration: underline;
}
.gallery__container .gallery__galleries--container .gallery__viewer--container {
  display: none;
}
.gallery__container .gallery__galleries--container .galleries__container {
  padding: 25px 50px;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container {
  display: none;
  grid-template-columns: repeat(3, 1fr);
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container .gallery__item--img {
  width: 100%;
  position: relative;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container .gallery__item--img::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container .gallery__item--img::before:hover {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 9;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container .gallery__item--img:hover {
  cursor: pointer;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled::after {
  content: "";
  flex-grow: 999;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  height: 25vh;
  cursor: pointer;
  position: relative;
  transition: all ease-in-out 0.3s;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container .gallery__item--img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container:hover {
  transform: scale(1.1);
  outline: 1px solid rgb(106, 6, 59);
  box-shadow: 1px 1px 10px rgb(106, 6, 59);
  z-index: 1;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container:hover .gallery__item--overlay {
  transform: scale(1);
  border-radius: 0;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container .gallery__item--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(158, 0, 250, 0.4392156863);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container.full-size {
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8549019608);
  display: flex;
  place-content: center;
  place-items: center;
  z-index: 2;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container.full-size:hover {
  transform: none;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container.full-size img {
  max-width: 90%;
  max-height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container.full-size .gallery__item--overlay {
  display: none;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.disabled {
  display: none;
}

/* ******************************** */
/*      FIN SECCION PORTFOLIO       */
/* ******************************** */
/* ******************************** */
/*      INICIO SECCION FOOTER       */
/* ******************************** */
.footer__container {
  border-top: 2px solid rgb(106, 6, 59);
  border-top: 2px solid #daa520;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.footer__container .footer__section--one, .footer__container .footer__section--two, .footer__container .footer__section--three {
  display: flex;
  place-content: center;
  place-items: center;
}
.footer__container .footer__section--one img {
  width: 80%;
}
.footer__container .footer__section--two {
  flex-direction: column;
}
.footer__container .footer__section--two .contact__info--container p {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}
.footer__container .footer__section--two .rrss__info--container {
  margin-top: 15px;
  gap: 5px;
  display: flex;
  flex-direction: row;
}
.footer__container .footer__section--two .rrss__info--container div {
  height: 35px;
  width: 35px;
  display: flex;
  place-content: center;
  place-items: center;
}
.footer__container .footer__section--two .rrss__info--container div a > svg > path {
  stroke: #fff;
}
.footer__container .footer__section--two .rrss__info--container div a {
  transition: transform ease-in-out 0.3s;
}
.footer__container .footer__section--two .rrss__info--container div a:hover {
  transform: scale(1.5);
}
.footer__container .footer__section--two .rrss__info--container div a:hover svg > path {
  stroke: rgb(106, 6, 59);
}
.footer__container .footer__section--three ul {
  list-style: none;
  color: #fff;
  margin-right: 25%;
}
.footer__container .footer__section--three ul li {
  padding: 5px 0;
}
.footer__container .footer__section--three ul li a {
  color: #fff;
  text-decoration: none;
}
.footer__container .footer__section--three ul li a:hover {
  color: rgb(106, 6, 59);
}
.footer__container .copyright__developer--container {
  text-align: center;
  grid-column: 1/-1;
}
.footer__container .copyright__developer--container p {
  padding: 0;
  margin: 0;
  color: #fff;
}

.link__btn {
  text-decoration: none;
  padding: 15px 15px;
  height: 1rem;
  border-radius: 3px;
}
.link__btn--slider {
  color: #fff;
  background-color: #3f0322;
  border: 1px solid #fff;
}
.link__btn--slider:hover {
  background-color: #daa520;
  color: #000;
  border: 1px solid #000;
  box-shadow: 1px 1px 3px #000;
}
.link__btn--section {
  color: #fff;
  background-color: #3f0322;
}
.link__btn--section:hover {
  background-color: #daa520;
  color: #000;
  outline: 1px solid #000;
  box-shadow: 1px 1px 3px #000;
}

.link__btn {
  text-decoration: none;
  padding: 15px 15px;
  height: 1rem;
  border-radius: 3px;
}
.link__btn--slider {
  color: #fff;
  background-color: #3f0322;
  border: 1px solid #fff;
}
.link__btn--slider:hover {
  background-color: #daa520;
  color: #000;
  border: 1px solid #000;
  box-shadow: 1px 1px 3px #000;
}
.link__btn--section {
  color: #fff;
  background-color: #3f0322;
}
.link__btn--section:hover {
  background-color: #daa520;
  color: #000;
  outline: 1px solid #000;
  box-shadow: 1px 1px 3px #000;
}

.slider__container {
  width: 100%;
  z-index: 1;
}
.slider__container .slider__section--container {
  display: flex;
  flex-direction: column;
  height: 400px;
  position: relative;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  overflow: hidden;
}
.slider__container .slider__section--container .slider__item--container {
  display: none;
  grid-template-columns: 40% 1fr;
  background-color: rgb(106, 6, 59);
  opacity: 0;
}
.slider__container .slider__section--container .slider__item--container .slider__image--container {
  height: 400px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(106, 6, 59);
  -webkit-clip-path: polygon(0 0%, 100% 0, 75% 50%, 100% 100%, 0 100%);
          clip-path: polygon(0 0%, 100% 0, 75% 50%, 100% 100%, 0 100%);
  overflow: hidden;
}
.slider__container .slider__section--container .slider__item--container .slider__image--container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__container .slider__section--container .slider__item--container .slider__card--container {
  display: grid;
  grid-template-rows: 25% 50% 25%;
}
.slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--title, .slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--paragraph, .slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--btn {
  display: flex;
  color: #fff;
}
.slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--title {
  place-content: left;
  place-items: center;
  padding-left: 80px;
  width: 80%;
  font-size: 1.8rem;
}
.slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--title .slider-title {
  text-align: left;
}
.slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--paragraph {
  place-content: center;
  place-items: center;
  padding: 0 50px;
  font-size: 1.2rem;
  line-height: 2rem;
}
.slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--paragraph .slider-paragraph {
  font-weight: 100;
}
.slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--btn {
  place-content: end;
  place-items: start;
  padding-right: 25%;
}
.slider__container .slider__section--container .slider__item--container.active {
  display: grid;
  opacity: 1;
}
.slider__container .slider__navegation--container {
  margin-top: 10px;
  width: 100%;
  height: 15px;
  display: flex;
  place-content: center;
  gap: 5px;
}
.slider__container .slider__navegation--container .slider__navegation--item {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
}
.slider__container .slider__navegation--container .slider__navegation--item.active {
  background-color: rgb(106, 6, 59);
}

.centered__title {
  text-align: center;
  color: #fff;
}

h3 {
  text-align: center;
  color: #fff;
}

.services__cards--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 90%;
  margin: auto;
}
.services__cards--container .card__item--container {
  margin-top: 20px;
}
.services__cards--container .card__item--container .service__title {
  transition: 0.5s ease all;
}
.services__cards--container .card__item--container .card__link {
  display: inline-block;
}
.services__cards--container .card__item--container .card__link .card__container {
  width: 20vw;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  margin: 0;
  transition: 0.5s ease all;
  transform: perspective(40vw) rotateY(0deg);
  outline: 2px solid rgb(106, 6, 59);
  border: 2px solid rgb(106, 6, 59);
}
.services__cards--container .card__item--container .card__link .card__container .card__rearward, .services__cards--container .card__item--container .card__link .card__container .card__picture {
  width: 100%;
  height: 100%;
}
.services__cards--container .card__item--container .card__link .card__container .card__picture {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.services__cards--container .card__item--container .card__link .card__container .card__rearward {
  position: absolute;
  top: 0;
  color: #fff;
  transform: perspective(40vw) rotateY(180deg);
  backface-visibility: hidden;
  overflow: auto;
  background: linear-gradient(0deg, rgb(106, 6, 59), rgba(50, 50, 50, 0.631372549));
  display: flex;
  flex-direction: column;
  place-items: center;
}
.services__cards--container .card__item--container .card__link .card__container .card__rearward .card__title {
  text-align: center;
  transform: translateY(-20px);
  color: rgb(188, 111, 254);
  transition: 0.8s ease all;
  transition-delay: 0.3s;
}
.services__cards--container .card__item--container .card__link .card__container .card__rearward hr {
  width: 90%;
  color: #fff;
}
.services__cards--container .card__item--container .card__link .card__container .card__rearward .card__description {
  width: 90%;
  text-align: center;
}
.services__cards--container .card__item--container .card__link .card__container .card__rearward .card__btn {
  background-color: #daa520;
  color: rgb(106, 6, 59);
  padding: 10px 25px;
}
.services__cards--container .card__item--container .card__link .card__container .card__rearward .card__btn:hover {
  background-color: #ffda7c;
  color: #000;
  cursor: pointer;
}
.services__cards--container .card__item--container:hover .service__title {
  transform: translateY(50px);
}
.services__cards--container .card__item--container:hover .card__link .card__container {
  transform: perspective(40vw) rotateY(180deg);
}
.services__cards--container .card__item--container:hover .card__link .card__container .card__rearward .card__title {
  color: #fff;
  transform: translateY(0);
}

.container.light {
  background-color: rgb(223, 223, 223);
}
.container.light .header__container .burgermenu__container {
  background-color: rgb(26, 26, 26);
}
.container.light .header__container .burgermenu__container .burgermenu__icon .burger__icon--svg {
  fill: #fff;
}
.container.light .header__container .burgermenu__container .burgermenu__list--container {
  background-color: orange;
}
.container.light .header__container .burgermenu__container .burgermenu__list--container nav ul li:hover a {
  color: rgb(106, 6, 59);
}
.container.light .header__container .burgermenu__container .burgermenu__list--container nav ul a {
  color: #000;
}
.container.light .header__container .mainmenu__container .header__menu--container .toggle__mode--container {
  background-color: #1a1a1a;
  border: 1px solid #000;
}
.container.light .header__container .mainmenu__container .header__menu--container .toggle__mode--container .toggle__mode--btn .toggle__mode--sun {
  fill: #dfca12;
}
.container.light .header__container .mainmenu__container .header__menu--container .toggle__mode--container .toggle__mode--btn .toggle__mode--moon {
  fill: #2a98e2;
}
.container.light .header__container .mainmenu__container .header__menu--container .toggle__mode--container .toggle__mode--btn::before {
  background-color: #c7c7c7;
}
.container.light .header__container .mainmenu__container .header__menu--container .top__nav--container .nav__list .nav__item .nav__link {
  color: #000;
}
.container.light .main__container .slider__container .slider__navegation--container .slider__navegation--item {
  border: 1px solid #000;
}
.container.light .main__container .article__container {
  background-color: #fff;
  border-color: rgb(106, 6, 59);
}
.container.light .main__container .article__container .section__container .section__title {
  border-color: #000;
}
.container.light .main__container .text__article--container {
  color: #000;
}
.container.light .main__container .centered__title {
  color: #000;
}
.container.light .main__container .services__cards--container .card__item--container .service__title {
  color: #000;
}
.container.light .main__container .gallery__container .gallery__menu--desktop .gallery__menu .gallery__menu--list-desktop .gallery__menu--item .gallery__menu--link {
  color: #000;
}
.container.light .main__container .gallery__container .gallery__menu--desktop .gallery__menu .gallery__menu--list-desktop .gallery__menu--item:hover {
  background-color: rgba(158, 0, 250, 0.4392156863);
}
.container.light .main__container .gallery__container .gallery__menu--mobile .gallery__show--more-container .gallery__show--more {
  color: #000;
}
.container.light .main__container .gallery__container .gallery__menu--mobile .gallery__menu .gallery__menu--list-mobile .gallery__menu--item .gallery__menu--link {
  color: #000;
}
.container.light .main__container .gallery__container .gallery__menu--mobile .gallery__menu .gallery__menu--list-mobile .gallery__menu--item:hover {
  background-color: rgb(106, 6, 59);
}
.container.light .main__container .gallery__container .gallery__menu--mobile .gallery__menu .gallery__menu--list-mobile .gallery__menu--item:hover .gallery__menu--link {
  color: #fff;
}
.container.light .main__container .gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container .gallery__item--overlay {
  background: rgba(158, 0, 250, 0.4392156863);
}
.container.light .main__container .gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container.full-size {
  background-color: rgba(0, 0, 0, 0.8549019608);
}
.container.light .footer__container .footer__section--two .contact__info--container > p {
  color: #000;
}
.container.light .footer__container .footer__section--two .rrss__info--container div > a svg > path {
  stroke: #000;
}
.container.light .footer__container .footer__section--two .rrss__info--container div > a:hover svg > path {
  stroke: rgb(106, 6, 59);
}
.container.light .footer__container .footer__section--three ul > li > a {
  color: #000;
}
.container.light .footer__container .footer__section--three ul > li > a:hover {
  color: rgb(106, 6, 59);
}
.container.light .copyright__developer--container p {
  color: #000;
}

@media (max-width: 480px) {
  .container .header__container .mainmenu__container {
    display: none;
  }
  .container .main__container .article__container {
    grid-template-columns: 1fr;
  }
  .container .main__container .article__container .section__container .section__paragraph {
    width: 85%;
  }
  .container .main__container .gallery__container {
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
  }
  .container .main__container .gallery__container .gallery__menu--mobile {
    display: flex;
  }
  .container .main__container .gallery__container .gallery__menu--desktop {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .container .header__container .mainmenu__container {
    display: none;
  }
  .container .main__container .article__container {
    grid-template-columns: 1fr;
  }
  .container .main__container .article__container .section__container .section__paragraph {
    width: 80%;
  }
  .container .main__container .gallery__container {
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
  }
  .container .main__container .gallery__container .gallery__menu--mobile {
    display: flex;
  }
  .container .main__container .gallery__container .gallery__menu--desktop {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container .main__container .slider__container {
    margin-top: 15px;
  }
  .container .main__container .slider__container .slider__section--container {
    height: 350px;
  }
  .container .main__container .slider__container .slider__section--container .slider__item--container .slider__image--container {
    height: 350px;
  }
  .container .main__container .slider__container .slider__section--container .slider__item--container .slider__card--container {
    grid-template-rows: 30% 40% 30%;
  }
  .container .main__container .slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--title .slider-title {
    font-size: 1.3rem;
  }
  .container .main__container .slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--paragraph .slider-paragraph {
    font-size: 0.9rem;
  }
  .container .main__container .slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--btn {
    padding: 0;
    place-content: center;
  }
  .container .main__container .gallery__container {
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
  }
  .container .main__container .gallery__container .gallery__menu--mobile {
    display: flex;
  }
  .container .main__container .gallery__container .gallery__menu--desktop {
    display: none;
  }
}
@media (min-width: 910px) and (max-width: 1024px) {
  .header__container .burgermenu__container {
    display: block;
  }
  .header__container .mainmenu__container {
    display: none;
  }
}
@media (min-width: 851px) and (max-width: 1024px) {
  .article__container {
    grid-template-columns: 1fr 1fr;
  }
  .article__container .section__container .section__paragraph {
    width: 80%;
  }
  .article__container .section__container:nth-child(3) {
    grid-column: 1/3;
  }
}
@media (min-width: 769px) and (max-width: 850px) {
  .section__paragraph {
    width: 70%;
  }
}
@media (min-width: 1025px) {
  .container .header__container .burgermenu__container {
    display: none;
  }
  .container .header__container .mainmenu__container {
    display: grid;
  }
  .container .main__container .article__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .container .main__container .article__container .section__container .section__paragraph {
    width: 75%;
  }
  .container .main__container .article__container .section__container:nth-child(3) {
    grid-column: 3/3;
  }
  .container .main__container .gallery__container .gallery__menu--mobile {
    display: none;
  }
  .container .main__container .gallery__container .gallery__menu--desktop {
    display: block;
  }
}
/* QUERIES SLIDER */
@media (max-width: 1700px) {
  .slider-title {
    font-size: 1.8rem;
  }
}
@media (max-width: 1500px) {
  .slider__texts--title {
    width: 90%;
  }
  .slider__texts--title .slider-title {
    font-size: 1.6rem;
  }
  .slider-paragraph {
    font-size: 1rem;
  }
}
@media (max-width: 1200px) {
  .slider__container .slider__section--container {
    height: 350px;
  }
  .slider__container .slider__section--container .slider__item--container .slider__image--container {
    height: 350px;
  }
  .slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--title {
    width: 95%;
  }
  .slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--title .slider-title {
    font-size: 1.5rem;
  }
  .slider__container .slider__section--container .slider__item--container .slider__card--container .slider-paragraph {
    font-size: 1rem;
  }
}
@media (max-width: 1100px) {
  .slider__container .slider__section--container .slider__item--container .slider__card--container {
    grid-template-rows: 30% 45% 25%;
  }
  .slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--title {
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--title .slider-title {
    font-size: 1.5rem;
  }
  .slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--paragraph .slider-paragraph {
    font-size: 0.9rem;
  }
}
@media (max-width: 900px) {
  .slider__container .slider__section--container {
    height: 700px !important;
  }
  .slider__container .slider__section--container .slider__item--container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    opacity: 0;
  }
  .slider__container .slider__section--container .slider__item--container .slider__image--container {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%);
  }
  .slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--title {
    place-content: center;
    place-items: center;
    text-align: center;
    padding: 0;
    width: 90%;
    font-size: 1.8rem;
  }
  .slider__container .slider__section--container .slider__item--container .slider__card--container .slider__texts--btn {
    place-content: center;
    place-items: center;
    padding: 0;
  }
}
h1, h2, h3 {
  font-family: "Montserrat";
  font-weight: 600;
}

h4, h5, h6 {
  font-family: "Voces";
}

p, a, span {
  font-family: "Nunito Sans";
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  display: grid;
  grid-template-rows: 1fr 3fr;
  background-color: rgb(26, 26, 26);
}
.container .main__container {
  /* ******************************** */
  /*      INICIO SECCIONES HOME       */
  /* ******************************** */
  /* ******************************** */
  /*      FIN SECCIONES HOME          */
  /* ******************************** */
}
.container .main__container .article__container {
  margin-top: 50px;
  background-color: #fff;
  border-top: 15px;
  border-bottom: 15px;
  border-left: 0;
  border-right: 0;
  border-color: rgb(106, 6, 59);
  border-style: solid;
  display: grid;
  gap: 20px;
}
.container .main__container .article__container .section__container {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.container .main__container .article__container .section__container .section__title {
  padding: 10px 30px;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 0;
  border-right: 0;
  border-color: #000;
  border-style: solid;
  color: #000;
}
.container .main__container .article__container .section__container .section__paragraph {
  text-align: center;
}
.container .main__container .article__container .section__container .section__btn {
  margin: 15px 0 25px 0;
}
.container .main__container .text__article--container {
  width: 80%;
  color: #c2c2c2;
}
.container .main__container .values__container {
  width: 90%;
  margin: 35px auto 50px auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
.container .main__container .values__container .values__item--container {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  padding: 10px 25px;
}
.container .main__container .values__container .values__item--container .value__picture--container .value__picture--svg {
  width: 2.5rem;
  fill: #daa520;
}
.container .main__container .values__container .values__item--container .value__paragraph--container .value__paragraph--text {
  text-align: center;
  color: #fff;
}

@keyframes burger-appear {
  0% {
    opacity: 0;
    margin: 0;
    font-size: 0.2rem;
  }
  50% {
    opacity: 0.2;
    margin: 1.5rem 0;
    font-size: 2rem;
  }
  100% {
    opacity: 1;
    margin: 1.5rem 0;
    font-size: 2rem;
  }
}
@keyframes burger-disappear {
  0% {
    opacity: 1;
    margin: 1.5rem 0;
    font-size: 2rem;
  }
  100% {
    opacity: 0;
    margin: 0;
    font-size: 0.2rem;
  }
}/*# sourceMappingURL=style.css.map */