.header__container {
  /* ******************************** */
  /*      INICIO SECCION MENU         */
  /* ******************************** */
  /* ******************************** */
  /*         FIN SECCION MENU         */
  /* ******************************** */
}
.header__container .burgermenu__container {
  background-color: #1A1A1A;
  width: 100%;
  height: 100%;
}
.header__container .burgermenu__container .burgermenu__icon {
  position: relative;
}
.header__container .burgermenu__container .burgermenu__icon .burger__icon--svg {
  cursor: pointer;
  display: flex;
  position: absolute;
  fill: #fff;
  width: 32px;
  height: 32px;
  margin: 15px 0 0 15px;
  z-index: 2;
}
.header__container .burgermenu__container .burgermenu__list--container {
  background-color: #1A1A1A;
  height: 0%;
  width: 0%;
  transition: all ease-in-out 0.6s;
  position: absolute;
  z-index: 1;
}
.header__container .burgermenu__container .burgermenu__list--container nav {
  display: none;
  opacity: 0;
}
.header__container .burgermenu__container .burgermenu__list--container nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header__container .burgermenu__container .burgermenu__list--container nav ul li {
  opacity: 0;
  animation: burger-disappear 0.3s forwards 0s 1 ease-in-out;
}
.header__container .burgermenu__container .burgermenu__list--container nav ul li.dropdown {
  position: relative;
}
.header__container .burgermenu__container .burgermenu__list--container nav ul li.dropdown .dropdown-content {
  display: none;
}
.header__container .burgermenu__container .burgermenu__list--container nav ul li.dropdown:hover .dropdown-content {
  height: 100%;
  opacity: 1;
}
.header__container .burgermenu__container .burgermenu__list--container nav ul li:hover a {
  color: rgb(106, 6, 59);
  text-decoration: underline;
}
.header__container .burgermenu__container .burgermenu__list--container nav ul a {
  text-decoration: none;
  color: #fff;
}
.header__container .burgermenu__container .burgermenu__list--container.active {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
}
.header__container .burgermenu__container .burgermenu__list--container.active nav {
  display: block;
  opacity: 1;
}
.header__container .burgermenu__container .burgermenu__list--container.active nav ul li {
  transition: all ease-in-out 0.3s;
  animation: burger-appear 0.3s forwards 0.5s 1 ease-in-out;
}
.header__container .burgermenu__container .burgermenu__logo {
  display: flex;
  place-content: center;
}
.header__container .burgermenu__container .burgermenu__logo .burger__logo--img {
  height: 150px;
  padding-top: 25px;
}
.header__container .mainmenu__container {
  display: none;
  position: relative;
  grid-template-columns: 1fr 2fr;
}
.header__container .mainmenu__container .logo__container {
  display: flex;
  place-content: center;
  place-items: center;
}
.header__container .mainmenu__container .logo__container .logo__img {
  height: 75%;
}
.header__container .mainmenu__container .header__menu--container {
  position: relative;
}
.header__container .mainmenu__container .header__menu--container .toggle__mode--container {
  position: absolute;
  height: 20px;
  width: 40px;
  top: 30px;
  right: 40px;
  background-color: #1a1a1a;
  border-radius: 25px;
  border: 1px solid #000;
  cursor: pointer;
  padding: 0 5px;
}
.header__container .mainmenu__container .header__menu--container .toggle__mode--container .toggle__mode--btn {
  display: flex;
  height: 100%;
}
.header__container .mainmenu__container .header__menu--container .toggle__mode--container .toggle__mode--btn .toggle__mode--sun {
  position: absolute;
  left: 5px;
  top: 0;
  height: 100%;
  display: flex;
  place-items: center;
  place-content: center;
  fill: #dfca12;
}
.header__container .mainmenu__container .header__menu--container .toggle__mode--container .toggle__mode--btn .toggle__mode--moon {
  position: absolute;
  right: 5px;
  top: 0;
  height: 100%;
  display: flex;
  place-items: center;
  place-content: center;
  fill: #2a98e2;
}
.header__container .mainmenu__container .header__menu--container .toggle__mode--container .toggle__mode--btn::before {
  content: "";
  width: 28px;
  height: 100%;
  border-radius: 25px;
  position: absolute;
  background-color: #c7c7c7;
  z-index: 1;
}
.header__container .mainmenu__container .header__menu--container .toggle__mode--container .toggle__mode--btn.dark::before {
  right: 0;
}
.header__container .mainmenu__container .header__menu--container .toggle__mode--container .toggle__mode--btn.light::before {
  right: calc(100% - 28px);
}
.header__container .mainmenu__container .header__menu--container .top__nav--container {
  display: flex;
  place-items: start;
  place-content: end;
  margin-right: 25px;
  margin-top: 140px;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container ul li {
  padding: 0 15px;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 4px 6px;
  letter-spacing: 1px;
  text-decoration: none;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container ul li a:hover {
  color: rgb(106, 6, 59);
  border-bottom: 1px solid rgb(106, 6, 59);
}
.header__container .mainmenu__container .header__menu--container .top__nav--container ul li.list__item--dropdown {
  position: relative;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container ul li.list__item--dropdown .list__item--parent {
  display: block;
  text-align: center;
  text-decoration: none;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container ul li.list__item--dropdown .list__item--children {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.header__container .mainmenu__container .header__menu--container .top__nav--container ul li.list__item--dropdown .list__item--children a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.header__container .mainmenu__container .header__menu--container .top__nav--container ul li.list__item--dropdown .list__item--children a:hover {
  color: #fff;
  background-color: rgba(158, 0, 250, 0.4392156863);
}
.header__container .mainmenu__container .header__menu--container .top__nav--container ul li.list__item--dropdown:hover .list__item--children {
  display: block;
}

.gallery__viewer--container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  place-content: center;
  z-index: 3;
}
.gallery__viewer--container .gallery__viewer--figure {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8549019608);
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  display: flex;
  place-content: center;
  place-items: center;
  color: #fff;
}
.gallery__viewer--container .gallery__viewer--figure .viewer__btn--close, .gallery__viewer--container .gallery__viewer--figure .viewer__btn--next, .gallery__viewer--container .gallery__viewer--figure .viewer__btn--previous, .gallery__viewer--container .gallery__viewer--figure .viewer__pagination--count {
  position: absolute;
  display: flex;
  place-content: center;
  place-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.gallery__viewer--container .gallery__viewer--figure .viewer__btn--close, .gallery__viewer--container .gallery__viewer--figure .viewer__btn--next, .gallery__viewer--container .gallery__viewer--figure .viewer__btn--previous {
  cursor: pointer;
}
.gallery__viewer--container .gallery__viewer--figure .viewer__btn--next, .gallery__viewer--container .gallery__viewer--figure .viewer__btn--previous {
  height: 10%;
  width: 2%;
  background-color: rgb(106, 6, 59);
  border-radius: 10%;
}
.gallery__viewer--container .gallery__viewer--figure .viewer__btn--next:hover, .gallery__viewer--container .gallery__viewer--figure .viewer__btn--previous:hover {
  background-color: #742b52;
}
.gallery__viewer--container .gallery__viewer--figure .viewer__pagination--count {
  top: 5%;
  left: 5%;
}
.gallery__viewer--container .gallery__viewer--figure .viewer__btn--close {
  top: 5%;
  right: 5%;
}
.gallery__viewer--container .gallery__viewer--figure .viewer__btn--close:hover {
  color: rgb(106, 6, 59);
}
.gallery__viewer--container .gallery__viewer--figure .viewer__btn--previous {
  left: 3%;
}
.gallery__viewer--container .gallery__viewer--figure .viewer__btn--next {
  right: 3%;
}
.gallery__viewer--container .gallery__viewer--figure img {
  max-width: 90vw;
  max-height: 90vh;
  -o-object-fit: contain;
     object-fit: contain;
}

/* ******************************** */
/*      INICIO SECCION PORTFOLIO    */
/* ******************************** */
.gallery__container {
  display: grid;
  grid-template-columns: 25% 75%;
}
.gallery__container .gallery__menu--mobile {
  display: none;
  place-items: center;
  place-content: center;
  flex-direction: column;
}
.gallery__container .gallery__menu--mobile .gallery__show--more-container {
  margin-top: 25px;
  display: block;
  text-align: center;
}
.gallery__container .gallery__menu--mobile .gallery__show--more-container .gallery__show--more {
  list-style: none;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
.gallery__container .gallery__menu--mobile .gallery__menu {
  color: #fff;
  text-align: center;
  padding: 5px 0;
}
.gallery__container .gallery__menu--mobile .gallery__menu .gallery__menu--list-mobile {
  margin-top: 15px;
  transition: all ease-in-out 0.5s;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #fff;
}
.gallery__container .gallery__menu--mobile .gallery__menu .gallery__menu--list-mobile .gallery__menu--item {
  padding: 0;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
.gallery__container .gallery__menu--mobile .gallery__menu .gallery__menu--list-mobile .gallery__menu--item .gallery__menu--link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.gallery__container .gallery__menu--mobile .gallery__menu .gallery__menu--list-mobile .gallery__menu--item:hover {
  background-color: rgba(158, 0, 250, 0.4392156863);
}
.gallery__container .gallery__menu--mobile .gallery__menu .gallery__menu--list-mobile .gallery__menu--item:hover .gallery__menu--link {
  text-decoration: underline;
}
.gallery__container .gallery__menu--mobile.active .gallery__show--more-container .gallery__show--more {
  color: rgb(106, 6, 59);
}
.gallery__container .gallery__menu--mobile.active .gallery__menu .gallery__menu--list-mobile {
  display: block;
  max-height: 400px;
}
.gallery__container .gallery__menu--desktop {
  display: block;
  height: 100%;
}
.gallery__container .gallery__menu--desktop .gallery__menu {
  height: 100%;
  margin: auto;
}
.gallery__container .gallery__menu--desktop .gallery__menu .gallery__menu--list-desktop {
  position: sticky;
  top: 33%;
  margin: 0;
  margin-top: 5vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  list-style: none;
  transition: position ease-in-out 2.3s;
}
.gallery__container .gallery__menu--desktop .gallery__menu .gallery__menu--list-desktop .gallery__menu--item {
  width: 90%;
  padding: 15px 0;
  text-align: center;
}
.gallery__container .gallery__menu--desktop .gallery__menu .gallery__menu--list-desktop .gallery__menu--item .gallery__menu--link {
  text-decoration: none;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.gallery__container .gallery__menu--desktop .gallery__menu .gallery__menu--list-desktop .gallery__menu--item:hover {
  background-color: rgba(158, 0, 250, 0.4392156863);
}
.gallery__container .gallery__menu--desktop .gallery__menu .gallery__menu--list-desktop .gallery__menu--item:hover .gallery__menu--link {
  text-decoration: underline;
}
.gallery__container .gallery__galleries--container .gallery__viewer--container {
  display: none;
}
.gallery__container .gallery__galleries--container .galleries__container {
  padding: 25px 50px;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container {
  display: none;
  grid-template-columns: repeat(3, 1fr);
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container .gallery__item--img {
  width: 100%;
  position: relative;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container .gallery__item--img::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container .gallery__item--img::before:hover {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 9;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container .gallery__item--img:hover {
  cursor: pointer;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled::after {
  content: "";
  flex-grow: 999;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  height: 25vh;
  cursor: pointer;
  position: relative;
  transition: all ease-in-out 0.3s;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container .gallery__item--img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container:hover {
  transform: scale(1.1);
  outline: 1px solid rgb(106, 6, 59);
  box-shadow: 1px 1px 10px rgb(106, 6, 59);
  z-index: 1;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container:hover .gallery__item--overlay {
  transform: scale(1);
  border-radius: 0;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container .gallery__item--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(158, 0, 250, 0.4392156863);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container.full-size {
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8549019608);
  display: flex;
  place-content: center;
  place-items: center;
  z-index: 2;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container.full-size:hover {
  transform: none;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container.full-size img {
  max-width: 90%;
  max-height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container.full-size .gallery__item--overlay {
  display: none;
}
.gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.disabled {
  display: none;
}

/* ******************************** */
/*      FIN SECCION PORTFOLIO       */
/* ******************************** */
/* ******************************** */
/*      INICIO SECCION FOOTER       */
/* ******************************** */
.footer__container {
  background-color: #1A1A1A;
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
}
.footer__container .footer__section--one ul {
  color: #fff;
}
.footer__container .footer__section--one ul li a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 480px) {
  .container .header__container .mainmenu__container {
    display: none;
  }
  .container .main__container .article__container {
    grid-template-columns: 1fr;
  }
  .container .main__container .article__container .section__container .section__paragraph {
    width: 85%;
  }
  .container .main__container .gallery__container {
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
  }
  .container .main__container .gallery__container .gallery__menu--mobile {
    display: flex;
  }
  .container .main__container .gallery__container .gallery__menu--desktop {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .container .header__container .mainmenu__container {
    display: none;
  }
  .container .main__container .article__container {
    grid-template-columns: 1fr;
  }
  .container .main__container .article__container .section__container .section__paragraph {
    width: 80%;
  }
  .container .main__container .gallery__container {
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
  }
  .container .main__container .gallery__container .gallery__menu--mobile {
    display: flex;
  }
  .container .main__container .gallery__container .gallery__menu--desktop {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container .main__container .gallery__container {
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
  }
  .container .main__container .gallery__container .gallery__menu--mobile {
    display: flex;
  }
  .container .main__container .gallery__container .gallery__menu--desktop {
    display: none;
  }
}
@media (min-width: 910px) and (max-width: 1024px) {
  .header__container .burgermenu__container {
    display: block;
  }
  .header__container .mainmenu__container {
    display: none;
  }
}
@media (min-width: 851px) and (max-width: 1024px) {
  .article__container {
    grid-template-columns: 1fr 1fr;
  }
  .article__container .section__container .section__paragraph {
    width: 80%;
  }
  .article__container .section__container:nth-child(3) {
    grid-column: 1/3;
  }
}
@media (min-width: 769px) and (max-width: 850px) {
  .section__paragraph {
    width: 70%;
  }
}
@media (min-width: 1025px) {
  .container .header__container .burgermenu__container {
    display: none;
  }
  .container .header__container .mainmenu__container {
    display: grid;
  }
  .container .main__container .article__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .container .main__container .article__container .section__container .section__paragraph {
    width: 75%;
  }
  .container .main__container .article__container .section__container:nth-child(3) {
    grid-column: 3/3;
  }
  .container .main__container .gallery__container .gallery__menu--mobile {
    display: none;
  }
  .container .main__container .gallery__container .gallery__menu--desktop {
    display: block;
  }
}
.container {
  font-family: "Montserrat";
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.container .main__container {
  /* ******************************** */
  /*      INICIO SECCIONES HOME       */
  /* ******************************** */
  /* ******************************** */
  /*      FIN SECCIONES HOME          */
  /* ******************************** */
}
.container .main__container .banner__section--container {
  width: 100%;
  height: 420px;
  margin: 0;
  padding: 0;
  background: url("../img/banner-1.png") center 20% no-repeat;
  display: flex;
  place-content: center;
  place-items: center;
}
.container .main__container .banner__section--container p {
  background-color: rgb(106, 6, 59);
  padding: 10px 40px;
  color: #fff;
  font-size: 1.4em;
  text-align: center;
}
.container .main__container .article__container {
  background-color: #fff;
  border-top: 15px;
  border-bottom: 15px;
  border-left: 0;
  border-right: 0;
  border-color: rgb(106, 6, 59);
  border-style: solid;
  display: grid;
  gap: 20px;
}
.container .main__container .article__container .section__container {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.container .main__container .article__container .section__container .section__title {
  padding: 10px 30px;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 0;
  border-right: 0;
  border-color: #000;
  border-style: solid;
}
.container .main__container .article__container .section__container .section__paragraph {
  text-align: center;
}
.container .main__container .article__container .section__container .section__btn {
  margin: 15px 0 25px 0;
}
.container .main__container .text__article--container {
  width: 80%;
  margin: auto;
  color: #c2c2c2;
}
.container.dark {
  background-color: #1A1A1A;
}
.container.light {
  background-color: #dfdfdf;
}
.container.light .header__container .burgermenu__container {
  background-color: #1A1A1A;
}
.container.light .header__container .burgermenu__container .burgermenu__icon .burger__icon--svg {
  fill: #fff;
}
.container.light .header__container .burgermenu__container .burgermenu__list--container {
  background-color: orange;
}
.container.light .header__container .burgermenu__container .burgermenu__list--container nav ul li:hover a {
  color: rgb(106, 6, 59);
}
.container.light .header__container .burgermenu__container .burgermenu__list--container nav ul a {
  color: #000;
}
.container.light .header__container .mainmenu__container .header__menu--container .toggle__mode--container {
  background-color: #1a1a1a;
  border: 1px solid #000;
}
.container.light .header__container .mainmenu__container .header__menu--container .toggle__mode--container .toggle__mode--btn .toggle__mode--sun {
  fill: #dfca12;
}
.container.light .header__container .mainmenu__container .header__menu--container .toggle__mode--container .toggle__mode--btn .toggle__mode--moon {
  fill: #2a98e2;
}
.container.light .header__container .mainmenu__container .header__menu--container .toggle__mode--container .toggle__mode--btn::before {
  background-color: #c7c7c7;
}
.container.light .header__container .mainmenu__container .header__menu--container .top__nav--container ul li a {
  color: #000;
}
.container.light .header__container .mainmenu__container .header__menu--container .top__nav--container ul li a:hover {
  color: rgb(106, 6, 59);
  border-bottom: 1px solid rgb(106, 6, 59);
}
.container.light .header__container .mainmenu__container .header__menu--container .top__nav--container ul li.list__item--dropdown .list__item--children {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.container.light .header__container .mainmenu__container .header__menu--container .top__nav--container ul li.list__item--dropdown .list__item--children a {
  color: #333;
}
.container.light .header__container .mainmenu__container .header__menu--container .top__nav--container ul li.list__item--dropdown .list__item--children a:hover {
  color: #fff;
  background-color: rgba(158, 0, 250, 0.4392156863);
}
.container.light .main__container .article__container {
  background-color: #fff;
  border-color: rgb(106, 6, 59);
}
.container.light .main__container .article__container .section__container .section__title {
  border-color: #000;
}
.container.light .main__container .text__article--container {
  color: #000;
}
.container.light .main__container .gallery__container .gallery__menu--desktop .gallery__menu .gallery__menu--list .gallery__menu--item .gallery__menu--link {
  color: #000;
}
.container.light .main__container .gallery__container .gallery__menu--desktop .gallery__menu .gallery__menu--list .gallery__menu--item:hover {
  background-color: rgba(158, 0, 250, 0.4392156863);
}
.container.light .main__container .gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container .gallery__item--overlay {
  background: rgba(158, 0, 250, 0.4392156863);
}
.container.light .main__container .gallery__container .gallery__galleries--container .galleries__container .galleries__items--container.enabled .gallery__img--container.full-size {
  background-color: rgba(0, 0, 0, 0.8549019608);
}

@keyframes burger-appear {
  0% {
    opacity: 0;
    margin: 0;
    font-size: 0.2rem;
  }
  50% {
    opacity: 0.2;
    margin: 1.5rem 0;
    font-size: 2rem;
  }
  100% {
    opacity: 1;
    margin: 1.5rem 0;
    font-size: 2rem;
  }
}
@keyframes burger-disappear {
  0% {
    opacity: 1;
    margin: 1.5rem 0;
    font-size: 2rem;
  }
  100% {
    opacity: 0;
    margin: 0;
    font-size: 0.2rem;
  }
}/*# sourceMappingURL=style.css.map */